/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
    margin: 0;
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

button {
    display: flex;
    align-items: center;
    border: 7px solid transparent;
    border-radius: 7px;
    background: #eee;
}

button:hover {
    background: #e1e1e1;
    border: 10px solid #d0d0d0;
}
