/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

button {
    display: flex;
    align-items: center;
    border: 10px solid transparent;
    border-radius: 7px;
    background: #eee;
}

button:hover {
    background: #e1e1e1;
    border: 10px solid #d0d0d0;
}

mat-form-field {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 1px;
}
