body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 30px;
    height: 95%;
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

html {
    height: 100%;
}

.container {
    width: 98%;
    height: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 5px;
}

header {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 2em;
    border: 5px;
}

footer {
    flex-shrink: 0;
}

.toolbar-link {
    margin-left: 1.75rem;
}

.toolbar-spacer {
    flex: 1 1 auto;
}