<div class="container">
  <header>
    <mat-toolbar>
      <app-space-list-button />
      <!-- <app-space-list-button /> -->
      <span class="toolbar-spacer"></span>
      <span>Intrasearch</span>
      <!-- <a routerLink="/list" routerLinkActive="active" class="toolbar-link" ariaCurrentWhenActive="page">
       <button>Intranet Spaces</button> 
      </a> -->
      <!-- <a routerLink="/query" routerLinkActive="active" class="toolbar-link" ariaCurrentWhenActive="page">
        <button>Search</button>
      </a> -->
      <span class="toolbar-spacer"></span>
      <app-settings-button />
    </mat-toolbar>
  </header>

  <main>
    <!-- <mat-tab-group>
      <mat-tab label="Search"> -->
    <router-outlet />
    <!-- </mat-tab>
      <mat-tab label="Chat">
        <deep-chat></deep-chat>
      </mat-tab>

    </mat-tab-group> -->

  </main>

  <footer>
    <p>
      <!-- <small>
        Using <i>llama3.2</i> for text generation and <i>mxbai-embed-large</i> for embedding.
      </small> -->
      <small style="padding-left: 20px;">Version {{ version }}</small>
      <small style="float: right; padding-right: 20px;">
        Please give feedback to <a href="mailto:patrick.vogt@unibas.ch">Patrick Vogt</a>
      </small>
    </p>
  </footer>
</div>