<div style="padding: 7px;">
    User: {{userSettings!.Name}}
</div>
<div style="padding-bottom: 7px;">
    <!-- <mat-form-field>
        <mat-label>User</mat-label>
        <input matInput readonly [(ngModel)]="userSettings!.Name">
    </mat-form-field> -->
    <mat-form-field id="userAPIKey">
        <mat-label>API Key (for chatbots)</mat-label>
        <input matInput [(ngModel)]="userSettings!.APIKey">
        <mat-hint>This key can be used to acces the users collection with a chat ui at the
            <a href="/api">endpoint</a>.</mat-hint>
    </mat-form-field>
</div>

<div style="padding: 7px; padding-top: 20px; display: flex;">
    <!-- <button (click)="debug()">
        Debug
    </button> -->
    <button  style="margin-right: 14px;" (click)="onSaveClick()">
        Save
    </button>
    <button (click)="addCollection()">
        Add Collection
    </button>
</div>

<mat-tab-group>
    <div *ngFor="let cols of collections()!; let i = index">
        <mat-tab label="{{collections()![i]!.DisplayName }}">
            <app-collection [(collection)]="collections()![i]!" />
        </mat-tab>
    </div>
</mat-tab-group>

<div style="padding: 7px; padding-top: 20px; display: flex;">
    <!-- <button (click)="debug()">
        Debug
    </button> -->
    <button style="margin-right: 14px;" (click)="onSaveClick()">
        Save
    </button>
    <button (click)="addCollection()">
        Add Collection
    </button>
</div>