button {
    display: flex;
    align-items: center;
    border: 10px solid transparent;
    border-radius: 7px;
    background: #eee;
}

button:hover {
    background: #e1e1e1;
    border: 10px solid #d0d0d0;
}

p {
    margin: 0;
}

mat-form-field {
    padding-left: 7px;
    padding-right: 7px;
    width: 95%;
}