<div style="padding: 7px;">
    User: {{userSettings!.Name}}
</div>
<div>
    <!-- <mat-form-field>
        <mat-label>User</mat-label>
        <input matInput readonly [(ngModel)]="userSettings!.Name">
    </mat-form-field> -->
    <mat-form-field id="userAPIKey">
        <mat-label>API Key (for chatbots)</mat-label>
        <input matInput [(ngModel)]="userSettings!.APIKey">
        <mat-hint>This key can be used to acces the users collection with a chat ui at the <a
                href="/api">endpoint</a>.</mat-hint>
    </mat-form-field>
</div>

<div style="padding: 7px;">

    <!-- <button (click)="debug()">
        Debug
    </button> -->
    <button (click)="onSaveClick()">
        Save
    </button>
    <button (click)="addCollection()">
        Add Collection
    </button>
    {{ respMsg }}
</div>

<mat-tab-group>
    <div *ngFor="let cols of collections()!; track cols;let i = index">
        <mat-tab label="{{collections()![i]!.Name }}">
            <app-collection [(collection)]="collections()![i]!" />
        </mat-tab>
    </div>
</mat-tab-group>

<!-- 
<button (click)=" onSaveClick()" matFab extended aria-label="Save Settings">
            <mat-icon>save</mat-icon>
            Save Settings
            </button> -->