[Unit]
Description=RAG Collection update service

[Timer]
OnStartupSec=6s
OnUnitActiveSec=3s
Unit=%i.service
User=intrasearch

[Install]
WantedBy=multi-user.target