[Unit]
Description=RAG HTTP Server

[Service]
WorkingDirectory=/srv/rag
ExecStart=/srv/rag/ragctl http serve --log.source --log.json
TimeoutStopSec=5
Restart=always
RestartSec=1s
User=intrasearch

[Install]
WantedBy=multi-user.target
